body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

p, ol, blockquote {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 12px;
}

h1, h2, h3, h4 {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  line-height: 1.7rem;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 2.7rem
}

h2 {
  font-size: 1.8rem
}

h3 {
  font-size: 1.3rem
}

.arial-font {
  font-size: 1rem;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h4 {
  font-size: .8rem
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 620px;
}

#photo-credit {
  text-align: right;
  font-size: .8rem;
  margin-top: 1px;
}

#byline {
  font-size: .9rem
}

blockquote {
  border-left: 4px solid grey;
  padding-left: 20px
}

ol {
  list-style-position: inside;
  padding-left: 0px
}